<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light sticky-top">
      <span class="navbar-brand mb-0 h1"><%= link_to "My own article database", articles_path, class: "title" %></span>
<%= link_to "Write a new article", new_article_path, class: "btn btn-primary" %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
